{% extends 'base.html' %}

{% block content %}

    <div class="container-fluid" style="background-color:  #E5E5E5;">
        <div class="row justify-content-md-center d-fixed">
            <div class="col text-center" style="background-color: #0B1D5C; max-height: 100px; ">
                <h3 class="m-3  text-white">SISTEM INFORMASI INVENTORY ITERA</h3>
            </div>
        </div>

        
        <div class="row">
            <div class="col-sm-2" style="background-color: #fff;">
                <nav>
                    <div class="row justify-content-md-center" style="border-bottom: #a4a6af solid 1px;">
                        <h2 class="text-center m-5 fw-bold">ADMIN</h2>
                    </div>
                    
                    <ul class="nav flex-column text-start">
                        <li class="nav-item " style="border-bottom: #a4a6af solid 1px;">
                            <a class="nav-link active" href="#" style="color: black; font-weight: bold;">
                                <img src="/static/images/Dashboard.png" alt="" style="max-height: 20px; max-width: 20px;">  
                                Dashboard
                            </a>
                        </li>
                        <li class="nav-item" style="border-bottom: #a4a6af solid 1px;">
                            <a class="nav-link" href="#" style="color: black; font-weight: bold">
                                <img src="/static/images/Akun.png" alt="" style="max-height: 20px; max-width: 20px;">  
                                Daftar Akun
                            </a>
                        </li>
                        <li class="nav-item" style="border-bottom: #a4a6af solid 1px;">
                            <a class="nav-link" href="#" style="color: black; font-weight: bold;">
                                <img src="/static/images/Barang.png" alt="" style="max-height: 20px; max-width: 20px;">  
                                Daftar Barang
                            </a>
                        </li>
                        <li class="nav-item" style="border-bottom: #a4a6af solid 1px;">
                            <a class="nav-link" href="#" style="color: black; font-weight: bold;">
                                <img src="/static/images/Peminjaman.png" alt="" style="max-height: 20px; max-width: 20px;">  
                                Peminjaman
                            </a>
                        </li>
                        <li class="nav-item" style="border-bottom: #a4a6af solid 1px;">
                            <a class="nav-link" href="#" tabindex="-1" aria-disabled="true" style="color: rgb(167, 161, 161); font-weight: bold;">
                                <img src="/static/images/LOGOUT.png" alt="" style="max-height: 20px; max-width: 20px; ">  
                                Logout
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>

            <div class="col-sm-10">
                    <div class="row mt-5 mx-5" style="background-color: #0B1D5C; border-top-left-radius: 30px ; border-top-right-radius: 30px;">
                            <h2 class="text-white my-3 mx-3">Data Barang</h2>
                    </div>
                    <div class="row mx-5" >
                        <div class="col bg-white">
                            <button class="my-3 mx-3 text-white rounded-3 px-3" style="background-color: #0B1D5C; ">Gedung</button>
                            <button class="my-3 mx-3 text-white rounded-3 px-3" style="background-color: #0B1D5C; ">Ruang</button>
                        
                        </div>
                    </div>
                    <div class="row mx-5 bg-white px-4">
                        <table class="table table-bordered table-striped" style="border: #595151 solid 1px;">
                            <thead style="background-color: #595151; color: antiquewhite;">
                                <tr class="col text-center align-item-center"> 
                                    <th scope="col">NAMA</th>
                                    <th scope="col">MEREK</th>
                                    <th scope="col">SATUAN</th>
                                    <th scope="col">IN</th>
                                    <th scope="col">OUT</th>
                                    <th scope="col">PRICE</th>
                                    <th scope="col">TOTAL PRICE</th>
                                    <th scope="col">GEDUNG</th>
                                    <th scope="col">RUANG</th>
                                    <th scope="col">BAST</th>
                                    <th scope="col"></th>
                                </tr>
                            </thead>
                
                            <tbody style="height: fit-content; width: fit-content; font-size: 14px;">
                                {% for barang in barangs %}

                                    <td><div class="align-center">{{ barang.nama_barang }}</div></td>
                                    <td><div class="align-center">{{ barang.merek }}</div></td>
                                    <td><div class="align-center">{{ barang.satuan }}</div></td>
                                    <td><div class="align-center">{{ barang.stock }}</div></td>
                                    <td><div class="align-center">{{ barang.price }}</div></td>
                                    <td><div class="align-center">{{ barang.total_price }}</div></td>
                                    <td><div class="align-center">{{ barang.gedung }}</div></td>
                                    <td><div class="align-center">{{ barang.ruang }}</div></td>
                                    <td><div class="align-center">123</div></td>
                                    <td><div class="align-center">images</div></td>
                                        <td><div class="align-center">
                                                <a href="#" class="text-decoration-none d-grid mb-1">
                                                    <button class="btn rounded-3" style="background-color: #FBFF23; color: antiquewhite;">
                                                        Pinjam
                                                    </button>
                                                </a>
                                    </div></td>

                                {% endfor %}
                            </tbody>
                        </table>
                
                    </div>
    
                    <footer class="row mt-2" style="background-color: #0B1D5C;">
                        <p class="text-muted text-center m-auto p-0">&copy; TUBES PBO - 2021</p>
                    </footer>
            </div>


                
        </div>
    </div>


{% endblock %}